<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div> 
 </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://scholar.google.com/citations?user=f57ZIvUAAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=f57ZIvUAAAAJ&hl=en">Google Scholar</i></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1>2016</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Toward a Robust Spell Checker for Arabic Text</strong></h2>
          <em>M. Mars</em><br />
	  Chapter <br />
	  Computational Science and Its Applications – ICCSA 2016<br /> 
	  Volume 9790 of the series Lecture Notes in Computer Science pp 312-322<br />
	  DOI: 10.1007/978-3-319-42092-9_24	  
	  <a href="https://www.researchgate.net/publication/304672760_Toward_a_Robust_Spell_Checker_for_Arabic_Text">[ResearchGate]</a>
	</li>
	</ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
