<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div> 
 </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://scholar.google.com/citations?user=f57ZIvUAAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=f57ZIvUAAAAJ&hl=en">Google Scholar</i></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h3>2016</h3>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Toward a Robust Spell Checker for Arabic Text</strong></h2>
          <em>M. Mars</em><br />
	Computational Science and Its Applications - ICCSA 2016<br />
	Volume 9790 of the springer's Lecture Notes in Computer Science (LNCS) series pp 312 - 322<br />
	<a href="http://link.springer.com/chapter/10.1007/978-3-319-42092-9_24">[Springer]</a><a href="static/pdf/Mars16.bib">[bibtex]</a>
	
	</li>
	</ul>
      <h3>2015</h3>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Analyseur Morphologique des textes arabes: Vers un outil TAL au service de l'ALAO (French Edition)</strong></h2>
          <em>M. Mars</em><br />
	Paperback: 188 pages. <br />
	Publisher: Editions Universitaires Europeennes (Nov. 25, 2015). <br />
	Language: French.<br />
	<center> 
	<a href="https://www.amazon.com/Analyseur-Morphologique-textes-arabes-service/dp/3841678424/ref=sr_1_1/163-1150637-4074033?s=books&ie=UTF8&qid=1481656461&sr=1-1&refinements=p_27%3AMourad+Mars" target="_blank"><img border="0" alt="Details on Amazon website" src="static/img/landing/Book.jpg" width="80" height="100"> </a></center>
	</li>
	</ul>
	<h1>Before 2015</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Several publications in different international conferences and journals...</strong></h2>
	</li>
	</ul>
</div>
  </div>
</div>
