<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Teaching</span></h1>
    </div> 
 </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p><img border="0" alt="UQ Univ" src="static/img/landing/univ.png" width="350" height="100"></p>
      <p><a href="http://www.um.rnu.tn">Monastir University</a> | <a href="https://uqu.edu.sa/">Umm al Qura University</a> |<a href="https://www.univ-grenoble-alpes.fr">Grenoble Alpes University</a> <br><br></p>     
    </div>
    
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

       <center><iframe width="420" height="315" src="https://www.youtube.com/embed/nWeW3sCmD2k"></iframe></center>
	<br />
	<h1>Course I: </h1>
	<ul style="list-style-type: none">
	<li class="entry">
	<h2><strong>Structured Query Language (SQL).</strong></h2>
          <em>Author: M. Mars</em><br />
	<a href="#">[Go to content]</a>
	</li>
	</ul>
	
	<h1>Course II: </h1>
	<ul style="list-style-type: none">
	<li class="entry">
	<h2><strong>Natural Language Processing/ Machine Learning.</strong></h2>
          <em>Author: M. Mars</em><br />
	<a href="#">[Go to content]</a>
	</li>
	</ul>
	
	<h1>Course III: </h1>
	<ul style="list-style-type: none">
	<li class="entry">
	<h2><strong>Computer Programming Skills.</strong></h2>
          <em>Authors: M. Mars & All PYD/CS dept members</em><br />
	<a href="#">[Go to content]</a>
	</li>
	</ul>
</div>
  </div>
</div>
